{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-5">
                <a href="{{ path('admin_post_create') }}" class="btn btn-success">Создать пост</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-5">
                <h2>Список постов</h2>
                <ul>
                    {% for post_item in post %}
                        <li>{{ post_item.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}